body {
  background-color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 120px auto;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
  border: 2px solid #a084e9;
}

.submit-button {
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(216, 211, 201);
  color: black;
  border: none;
  width: 150px;
  font-size: 16px;
  padding: 14px, 24px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-radius: 10px;
  border-left: 3px solid #885df1;
}

a {
  color: #885df1;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
